<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- mapper namespace는 비우면 에러 -->
  <mapper namespace="com.winter.app.product.ReplyDAO">
 
  	<insert id="setReply" parameterType="ReplyDTO">
  		INSERT INTO REPLY 
  		VALUES (PRODUCT_SEQ.NEXTVAL, #{productNum}, #{userName}, #{replyContent}, sysdate, #{replyJumsu})
  	</insert>
  

  	<select id="getList" resultType="ReplyDTO" parameterType="map" >
			select * from
		(select ROWNUM RN, R.*
		(SELECT *
		FROM reply R
		where PRODUCTNUM=#{replyDTO.procutNum} order by replyNum DESC) R) 
		where RN BETWEEN #{pager.startRow} AND #{pager.lastRow}
	</select>



		<!-- getTotal -->
	<select id="getTotalCount" resultType="Long" parameterType="ReplyDTO">
	SELECT COUNT(REPLYNUM) FROM reply 
	where PRODUCTNUM=#{prodcutNum} 
	</select>


  </mapper>