<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- mapper namespace는 비우면 에러 -->
  <mapper namespace="com.winter.app.product.ReplyDAO">
 
  	<insert id="setReply" parameterType="ReplyDTO">
  		INSERT INTO REPLY 
  		VALUES (PRODUCT_SEQ.NEXTVAL, #{productNum}, #{userName}, #{replyContent}, sysdate, #{replyJumsu})
  	</insert>
  

 	<select id="getList" parameterType="Map" resultType="ReplyDTO">
  		SELECT * FROM
  		(SELECT ROWNUM RN, R.* FROM
  		(SELECT * FROM REPLY
  		WHERE productNum=#{replyDTO.productNum}
  		ORDER BY REPLYNUM DESC) R)
  		WHERE RN BETWEEN #{pager.startRow} AND #{pager.lastRow}
  	</select>



		<!-- getTotal -->
	<select id="getTotalCount" resultType="Long" parameterType="ReplyDTO">
	SELECT COUNT(REPLYNUM) FROM reply 
	where productNum=#{productNum} 
	</select>


  </mapper>